//PROJECT COLORS
//overlay
$overlay: rgba(0, 0, 0, 0.549);
//image border
$img-border:#ecf0fc;
//secondary background
$sec-bg: #1e8fff54;

//FONTS
$font-main: "Open Sans", sans-serif;
$text: 1.8rem;
$title: 3.2rem;
//secondary text
$text-sec: bisque;
//label
$label: #bbbbbbdd;

//BORDER
$radious-5: 5px;
$radious-15: 1.5rem;
